.mybean {
  margin-top: 20px;
  margin-bottom: 30px;
}
.c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10 {
  height: 60px;
  width:70px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
}
.c2 {
  background-color:#ea2443;
}
.c3 {
  background-color:#20b355;
}
.c4 {
  background-color:#ee4a94;
}
.c5 {
  background-color:#164d96;
}
.c6 {
  background-color:#ffcb37;
}
.c7 {
  background-color:#eb1369;
}
.c8 {
  background-color:#b7dba1;
}
.c9 {
  background-color:#439fd1;
}
.c1 {
  background-color:#792a8a;
}
.c10 {
  background-color:#eda143;
}

h1 {
  font-family: 'Open Sans';
  font-weight: 700;
  text-transform: uppercase;
}
p {
  font-family: 'Open Sans';
  font-size: 1.3em;
}
button {
  border:none;
  background:#87B14A;
  width: 100%;
  color:white;
  padding: 10px;
  font-size:24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 30px;
}
